.layout_container{
  background-color: #000;
  min-height: 100vh;
  background-image: url("@/assets/images/bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
